<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Default connection string. 
      Uncomment the line below and the app will automatically connect to the 
      SQL Server instance specifed, saving a few clicks and keystrokes.
    -->
    <add key="DefaultConnectionString" value="Integrated Security=SSPI;Persist Security Info=False;Data Source=.\SQL2016" />
    
    <!--Minimize To System Tray
      Uncomment to specify what happens when the form is minimized:
      false - show in Windows task bar (default).
      true - show in System Tray only.
    -->
    <add key="MinimizeToSystemTray" value="true" />
    
    <!--Email Recipients
      Uncomment to specify the email recipient(s).
      Seperate multiple addresses with a semi-colon.
    -->
    <add key="EmailRecipients" value="Your@YourDomain.com" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>